<md-toolbar ng-controller="MainCtrl" layout="row">

 <div class="md-toolbar-tools">

 <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
           <md-icon md-svg-src="images/menu.svg" 
            class="md-primary" hide-gt-md>
            
          </md-icon>
          </md-button>
          
           <md-icon class="md-toolbar-tools" style="width:140px;height:140px;" class="material-icons"  md-svg-src="images/logo-total.svg">
            
          </md-icon>

        
          <md-list-item  dir="rtl">
            <img  ng-src="images/photo.jpg" class="md-avatar" />
          </md-list-item>  
          
        </div>
</md-toolbar>



<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar >
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      
       <md-button  class="md-toolbar-tools">
       <a ng-controller="MainCtrl" ng-click="close()" href="/servicos">Serviços</a> 

<md-icon  md-svg-src="images/wrench.svg"/>
       </md-button>
       <md-button class="md-toolbar-tools"> 
Clientes
<md-icon md-svg-src="images/account-multiple-outline.svg"/>
       </md-button>

    </md-sidenav>