
<md-card  layout="row">
    <md-content ng-controller="NovoServicoCtrl as vm" flex="nogrow" style="width: 800px; margin: 40px auto">
        <div>
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            
                            <span>Serviço</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep" md-busy-text="'Processando...'" md-busy="vm.showBusyText">
                        <md-step label="Veículo" md-complete="vm.stepData[0].data.completed" ng-disabled="vm.stepProgress < 1">
                            <md-step-body>
                                <form novalidate name="formVeiculo" ng-submit="vm.submitCurrentStep(vm.stepData[0].data)">
                                    <md-content class="md-padding">
                                        
                                                <!--<h4>Please enter your user name and password</h4>-->
                                                <div layout="row" class="md-padding">
                                                <md-input-container >
                                                    <label>PLACA</label>
                                                    <input type="text" ui-mask="AAA - 9999" 
                                                    name="placa" ng-model="vm.veiculo.placa" required uppercased/>
                                                    <div ng-messages="formVeiculo.placa.$error">
                                                        <div ng-message="required">
                                                            Placa é um campo obrigatório.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                </div>
        <div layout="row">
        
            <md-input-container>
            <label>MARCA</label>
                <md-select name="marca"  ng-change="vm.getModelos()" class="md-padding" placeholder="Selecione uma marca" ng-model="vm.marca" required>
                
                 <md-option   ng-value="marca" ng-repeat="marca in vm.marcas">
                  {{marca.nome}}
                 </md-option>
                

                  </md-select>
              
              
              <div  ng-messages="formVeiculo.marca.$error">
                       <div ng-message="required">
                     
                     Marca é um campo obrigatório.
                        </div>
                 </div>                                           
                </md-input-container>
            <md-input-container>


            <label>MODELO</label>
                <md-select ng-change="vm.getAnos()"  name="modelo" class="md-padding" ng-model="vm.modelo" placeholder="Selecione o Modelo" required>
                
                 <md-option ng-value="modelo" ng-repeat="modelo in vm.modelos.modelos">
                  {{modelo.nome}}
                 </md-option>
                
                </md-select>
                <div  ng-messages="formVeiculo.modelo.$error">
                       <div ng-message="required">
                     
                     Modelo é um campo obrigatório.
                        </div>
                 </div>                                           
                
                  </md-input-container>
            
            <md-input-container>


                <label>ANO</label>
            

                <md-select  name="ano" ng-class="{'md-select-fixed-width':true}"   class="md-padding"  placeholder="Selecione o ano" ng-model="vm.ano" required>
                
                 <md-option ng-value="ano" ng-repeat="ano in vm.anos">
                  {{ano.nome}}
                 </md-option>
                
                </md-select>
                <div  ng-messages="formVeiculo.ano.$error">
                       <div ng-message="required">
                     
                     Ano é um campo obrigatório.
                        </div>
                 </div>                                           
                
                  </md-input-container>
        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCELAR</md-button>
                                            <md-button class="md-primary md-raised" type="submit" ng-disabled="formVeiculo.$invalid">AVANÇAR</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Cliente" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="row" layout-align="center top">
                                            <div flex="nogrow" style="width: 400px">
                                                <h4>Please enter your full name</h4>
                                                <md-input-container class="md-block">
                                                    <label>Your first name here</label>
                                                    <input name="firsname" ng-model="vm.stepData[1].data.firsname"/>
                                                </md-input-container>
                                                <md-input-container class="md-block">
                                                    <label>Your last name</label>
                                                    <input name="lastname" ng-model="vm.stepData[1].data.lastname"/>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCEL</md-button>
                                            <md-button ng-disabled="vm.showBusyText" ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.firsname && vm.stepData[1].data.lastname))" class="md-primary md-raised">
                                                {{ vm.stepData[1].data.firsname && vm.stepData[1].data.lastname ? 'NEXT' : 'SKIP' }}
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Orçamento" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="row" layout-align="center top">
                                            <div flex="nogrow" style="width: 400px">
                                                <h4>Please enter your full name</h4>
                                                <md-input-container class="md-block">
                                                    <label>Your first name here</label>
                                                    <input name="firsname" ng-model="vm.stepData[1].data.firsname"/>
                                                </md-input-container>
                                                <md-input-container class="md-block">
                                                    <label>Your last name</label>
                                                    <input name="lastname" ng-model="vm.stepData[1].data.lastname"/>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCEL</md-button>
                                            <md-button ng-disabled="vm.showBusyText" ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.firsname && vm.stepData[1].data.lastname))" class="md-primary md-raised">
                                                {{ vm.stepData[1].data.firsname && vm.stepData[1].data.lastname ? 'NEXT' : 'SKIP' }}
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        
                        <md-step label="Entrega     " md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="row" layout-align="center top">
                                            <div flex="nogrow" style="width: 400px">
                                                <h4>Please enter your full name</h4>
                                                <md-input-container class="md-block">
                                                    <label>Your first name here</label>
                                                    <input name="firsname" ng-model="vm.stepData[1].data.firsname"/>
                                                </md-input-container>
                                                <md-input-container class="md-block">
                                                    <label>Your last name</label>
                                                    <input name="lastname" ng-model="vm.stepData[1].data.lastname"/>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">CANCEL</md-button>
                                            <md-button ng-disabled="vm.showBusyText" ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.firsname && vm.stepData[1].data.lastname))" class="md-primary md-raised">
                                                {{ vm.stepData[1].data.firsname && vm.stepData[1].data.lastname ? 'NEXT' : 'SKIP' }}
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        
                        <md-step label="Fim" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding">
                                        <div layout="column" layout-align="center center" style="min-height: 200px">
                                            <h4>Account created!</h4>
                                            <md-button class="md-primary md-raised">GO TO DASHBOARD</md-button>
                                        </div>
                                    </md-content>
                                </form>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
            </md-card>
        </div>
    </md-content>
    </md-card>

